<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body>
  <% if (locals.currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.username %></h1>
    <p><%= currentUser.role %></p>
    <a href="/log-out">LOG OUT</a>
  <% }  %>
</body>
</html>