<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
  <link rel="icon" type="image/x-icon" href="/favicon-32x32.png">
  <link rel="stylesheet" href="/simple.min.css">
</head>
<body>
  <h3>Admin</h3>
  <ul>
    <li><b>Username:</b> andrei</li>
    <li><b>Password:</b> 123</li>
  </ul>
  <h3>Employee</h3>
  <ul>
    <li><b>Username:</b> john</li>
    <li><b>Password:</b> 123</li>
  </ul>
  <p>Have a account? <a href="/">Log In</a></p>
</body>
</html>