<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
  <link rel="icon" type="image/x-icon" href="/favicon-32x32.png">
  <link rel="stylesheet" href="/simple.min.css">
</head>
<body>
  <h1>Log In</h1>

  <% if (messages.error) { %>
  <p> <%= messages.error %> </p>
  <% } %>

  <form action="" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <div>
      <button>Log In</button>
    </div>
  </form>

  <p>Do not have account? <a href="/sign-up">Sign Up</a></p>
</body>
</html>