<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Log In</h1>

  <% if (messages.error) { %>
  <p style="color: red;"> <%= messages.error %> </p>
  <% } %>

  <form action="" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <button>Log In</button>
  </form>

  <p>Do not have account? <a href="/sign-up">Sign Up</a></p>
</body>
</html>