<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
  <h1>Sign Up</h1>

<%- include('partials/errorMsg.ejs', {errors: locals.errors}) %>

<%- include('partials/successMsg.ejs', {success: locals.success}) %>
  
  <form action="" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <label for="fullName">Fullname:</label>
    <input type="text" name="fullName" id="fullName">
    <div>
      <button>Sign Up</button>
    </div>
  </form>

  <p>Have account? <a href="/log-in">Log In</a></p>
</body>
</html>