<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
  <link rel="icon" type="image/x-icon" href="/favicon-32x32.png">
  <link rel="stylesheet" href="/simple.min.css">
</head>
<body>
  <h1>Sign Up</h1>

<%- include('partials/errorMsg.ejs', {errors: locals.errors}) %>
  
  <form action="" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <label for="confirmPassword">Confirm Password:</label>
    <input type="confirmPassword" name="confirmPassword" id="confirmPassword">
    <label for="fullName">Fullname:</label>
    <input type="text" name="fullName" id="fullName">
    <label for="isAdminRole">Is Admin ?</label>
    <input type="checkbox" name="isAdminRole" id="isAdminRole">
    <div>
      <button>Sign Up</button>
    </div>
  </form>

  <p>Have a account? <a href="/">Log In</a></p>
</body>
</html>