<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
  <link rel="icon" type="image/x-icon" href="/favicon-32x32.png">
  <link rel="stylesheet" href="/simple.min.css">
</head>
<body>
  <main class="container">
    <h1>Members Only</h1>
  
    <form action="" method="post">
      
        <%- include('partials/errorMsg.ejs', {errors: locals.errors}) %>

        <%- include('partials/successMsg.ejs', {success: locals.success}) %>

        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="confirmPassword" name="confirmPassword" id="confirmPassword">
        <label for="fullName">Fullname:</label>
        <input type="text" name="fullName" id="fullName">
        <p>
          <label for="isAdminRole">Is Admin ?    
          <input type="checkbox" name="isAdminRole" id="isAdminRole">
          </label>
        </p>
        <button>Sign Up</button>
    </form>
    <p>Have a account? <a href="/">Log In</a></p>
</body>
</html>